<ul class="nav" role="menu">
	<li class="nav-home" role="menuitem"><a href="/">Blog</a></li>
	<li class="nav-getting-started" role="menuitem">
		<a href="/education/">Education</a>
	</li>
	<li class="nav-try-ghost" role="menuitem">
		<a href="/academia/">Academia</a>
	</li>
	<li class="nav-try-ghost" role="menuitem">
		<a href="/experience/">Experience</a>
	</li>
	<li class="nav-try-ghost" role="menuitem">
		<a href="/research/">Research</a>
	</li>
	<li class="nav-about" role="menuitem">
		<a href="/about/">About</a>
	</li>
	<li class="nav-try-ghost" role="menuitem">
		<a href="/resume/Ramchandra_Mangrulkar.pdf" target="_blank">Resume</a>
	</li>
</ul>
